.header {
	/*background: linear-gradient(to bottom, rgba(211,34,24,1) 0%,rgba(211,34,24,1) 40%,rgba(169,33,26,1) 100%);*/
}
.header .heroImg {
	height:4rem;
	width:4rem;
	background:cyan;
}
.header .heroInfo {
	padding:.5em;
}
.header .heroInfo :first-child {
	font-size:1.5rem;
	font-weight:600;
}
.header .heroInfo :last-child {
	opacity:.72;
	text-transform:lowercase;
}
.item {
	background:#333;
	width:29%;
	margin:0 1rem!important;
	margin-top:2rem !important;
	padding:1rem;
}
.item .pic {
	position:absolute;
	top:-1rem;
	left:-1rem;
	min-width:8rem;
	min-height:3rem;
	background:cyan;
	padding:.5rem;
	transform: skew(-45deg);
	overflow:hidden;
	/*border:1px solid black;
	border-left:2px solid black;
	border-right:2px solid black;*/
}
.item .pic > div {
	position:absolute;
	top:0;
	left:-20%;
	transform: skew(45deg);
	width:140%;
	height:100%;
	background:tomato;
	background: url('http://ddragon.leagueoflegends.com/cdn/5.19.1/img/champion/Kindred.png') no-repeat;
	background-position:50% 50%;
	background-size:cover;
}
.item .name {
	text-align:center;
	font-size:2rem;
	text-shadow:none;
	color:#069E2A;
}
.item .desc {
	font-family:"Comic Neue";
	font-size:1rem;
}