#actionBar {
	position:relative;
	height:64px;
	background:#333;
	box-shadow:0px 1px 6px 0px black;
	z-index:5;
}
#logo {
	position:relative;
	left:-32px;
	background:rgb(19,137,201);
	padding:16px;
	padding-left:48px;
	padding-right:32px;
	font-size:32px;
	line-height: 32px;
	transform:skew(45deg);
	-webkit-transform:skew(45deg);
}
#logo::after {
	content:'';
	position:absolute;
	right:-16px;
	top:0;
	display:block;
	height:100%;
	width:16px;
	background:rgba(19,137,201,.55);
	z-index:1;
}
#logo span {
	display:inline-block;
	transform: skew(-45deg);
	-webkit-transform: skew(-45deg);
}
#searchWrap {
	padding:16px 32px;
}
#search input {
	background:transparent;
	margin:0;
	padding:0;
	border:none;
}
#search i {
	color: rgb(19,137,201);
}
#suggestions {
	position:absolute;
	left:10vw;
	width:80vw;
	background:cyan;
	z-index:4;
	box-shadow:0px 1px 6px 0px black;
	border-top:none;
}
#suggestions .suggestion {
	padding:1rem;
}
#champResults {
	overflow-x:hidden;
	box-shadow: 0px 0 10px 0px black;
	z-index:2;
}

#champResults #imgContainer {
	position:relative;
	width:100%;
	height: 50vw;
	max-height:240px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	overflow-x: hidden;
	box-shadow:0px -5rem 0px 0px rgba(0, 0, 0, .5) inset;
}
#champResults #imgContainer #champName {
	position: absolute;
	bottom: 16px;
	left:16px;
	font-size:48px;
	line-height:1;
}
#matchResults {
	overflow-y:auto;
	width:360px;
}
#matchResults > * {
	flex:none;
}
#matchResults > .horizontal {
	height: 86px;
	margin:4px 0;
	background:tomato;
	z-index:0;
}
#matchResults > .horizontal:first-child {
	margin-top:8px;
}
#matchResults > .horizontal:hover {
	background:cyan;
}