/*#A54433 - Redest Brown*/
/*#F3AE48 - Yellow*/

#actionBar {
	position:relative;
	height:64px;
	background:#333;
	box-shadow:0px 1px 6px 0px black;
	z-index:5;
}
#logo {
	position:relative;
	left:-32px;
	background:rgb(19,137,201);
	padding:.8rem;
	padding-left:3rem;
	padding-right:2rem;
	font-size:2rem;
	line-height: 2rem;
	transform:skew(45deg);
	-webkit-transform:skew(45deg);
}
#logo::after {
	content:'';
	position:absolute;
	right:-16px;
	top:0;
	display:block;
	height:100%;
	width:16px;
	background:rgba(19,137,201,.55);
	z-index:1;
}
#logo span {
	display:inline-block;
	transform: skew(-45deg);
	-webkit-transform: skew(-45deg);
	overflow:hidden;
	transition: 1s;
	width:0;
}
#logo span:first-child.expand {
	width:13rem;
}
#logo span:last-child{
	width:0;
}
#searchWrap {
	padding:16px 32px;
}
#search input {
	background:transparent;
	margin:0;
	padding:0;
	border:none;
}
#search i {
	color: rgb(19,137,201);
}
#suggestions {
	position:absolute;
	left:10vw;
	width:80vw;
	background:#333;
	z-index:4;
	box-shadow:0px 1px 6px 0px black;
	border-top:none;
	max-height:50vh;
	overflow-y:auto;
}
#suggestions .suggestion {
	background:#222;
	padding-right:1.5rem;
	margin:.5rem 0;
	cursor:pointer;
	-webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
#suggestions .suggestion:hover {
	background:rgb(19,137,201);
}
#suggestions .suggestion img {
	height:3rem;
	width:3rem;
	margin-right:1rem;
	outline:none;
}
#champResults {
	position:relative;
	overflow-x:hidden;
	box-shadow: 0px 0 10px 0px black;
	z-index:2;
}

#champResults #imgContainer {
	position:relative;
	width:100%;
	height: 50vw;
	max-height:240px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:50% 25%;
	overflow-x: hidden;
	box-shadow:0px -5rem 0px 0px rgba(0, 0, 0, .5) inset;
}
#champResults #imgContainer #champName {
	position: absolute;
	bottom: 16px;
	left:16px;
	font-size:48px;
	line-height:1;
}
#matchResults {
	overflow: hidden;
	width:20rem;
	position:relative;
	padding-top:.75rem;
	transition: .25s width;
}
#matchResults.hide {
	width:0px !important;
}
#matchResults > * {
	flex:none;
}
#matchResults > .horizontal {
	margin:.25rem 0;
	z-index:0;
}
#matchResults > .horizontal:first-child {
	margin-top:.5rem;
}
#matchResults > .horizontal:hover {
}
#matchResults .team img{
	cursor:pointer;
	width: 16%;
	-webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
	clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}
#matchResults #playerDesc {
	position:absolute;
	bottom:0;
	height:calc(100vh - 14rem);
	width:100%;
	background:#12161A;
	transition:.5s transform;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
#matchResults #playerDesc.visible {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#matchResults #playerDesc .header {
	height:5rem;
	background:rgb(19,137,201);
}
#playerDesc .header .loadingSplash {
	height:11rem;
	width:6rem;
	background:black;
	background-size:cover;
	margin-left:.5rem;
	margin-top:.5rem;
}
#playerDesc .header #playerName {
	font-size:1.4rem;
	margin-bottom:.5rem;
}
#playerDesc .clearSplash{
	margin-top:.5rem;
	margin-left:7.3rem;
}
#footer {
	padding:1.4rem 0; 
	color:#808080;
}
#footer > * {
	text-align:center;
}

@media all and (min-width: 0) and (max-width: 640px){ 
	#matchResults {
		width: 0 !important;
	}
	#logo span:first-child{
		width:0 !important;
	}
	#logo span:last-child.expand{
		width:5rem;
		transition:1s;
	}
}