@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
* {
  box-sizing: border-box;
}
body {
	background:#151515;
	background: url(http://i.imgur.com/LbfaGfn.jpg?1) top center no-repeat #151515;
	box-shadow: 0 -20vh 100px 0px rgba(0, 0, 0, .8) inset, 0 -15vh 100px 0px #151515 inset;
	font-size: 100%;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	color: white;
}
input:focus,
input:active {
  outline: none;
}
input {
  color:white;
  text-align:center;
}
h2,
h1 {
  font-family: "Roboto";
  font-weight:100;
  font-size:3em;
  margin-bottom:1.5rem;
}
p {
	font-family:"Lato";
  text-shadow: 0px 0px 4px black;
}
i {
	height:2rem;
	padding:.5rem;
	color:tomato;
}
.border {
  border: 1px solid black;
  box-shadow:0px 0px 0px 1px #505050 inset;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blurBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  z-index: -1;
}

.blurBg .image {
  background: url(http://i.imgur.com/LbfaGfn.jpg?1g) top center no-repeat #333;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.button {
	padding:.5rem;
	margin-left:2rem;
	width:2em;
	text-align:center;
	font-size:1em;
	text-transform: uppercase;
	background: #333;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
  border-radius:3px;
}
.button.toggle.selected {
	color:tomato;
	background:#181818;
	box-shadow:none;
}

#actionBar {
	position:relative;
  height: 4.5rem;
  padding:1em;
  overflow: hidden;
  border-bottom: 1px solid rgba(100, 100, 100, .8);
  background: rgba(0, 0, 0, .3);
  box-shadow: 0px -25px 25px -10px rgba(100, 100, 100, .3) inset;
}

#actionBar #search {
  padding: 8px;
  height: 2.5rem;
  background: rgba(22, 22, 22, .8);
  border-radius: 3px;
  max-width:40rem;
}
#search input {
	background:transparent;
  border: none;
}

#content {
  position:relative;
  overflow-y: auto;
  padding: 5em 2em;
}

#content .card {
  background:#333;
  padding:1em;
  margin:2em auto;
  border-radius:3px;
}