<div id="actionBar" class="flex-none layout horizontal center-center">
  <div id="logo">
    <span>#JLS</span>
  </div>
  <div id="searchWrap" class="flex">
    <div id="search" class="layout horizontal center border">
      <i class="mdi mdi-magnify"></i>
      <input type="text" class="flex"
                         ng-model="champKeyInput"
                         ng-change="sanitizeChampKey()"/>
    </div>
  </div>
</div>
<div class="flex layout horizontal scroll">
  <div id="champResults" class="layout vertical scroll">
    <div id="imgContainer" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Lulu_0.jpg)" class="flex-none">
      <div id="champName">{{champion.name}}</div>
    </div>
    <div ng-repeat="item in champion.items" class="flex-none layout horizontal center listItem">
      <img src="{{item.image}}" class="image flex-none" />
      <div class="layout vertical self-stretch">
        <div class="mainText self-start">{{item.name}}</div>
        <div class="subText">{{item.description}}</div>
      </div>
    </div>
  </div>
</div>