<div id="actionBar" class="layout horizontal center-center">
  <div class="blurBg">
    <div class="image"></div>
  </div>
  <div id="search" class="flex layout horizontal center border">
    <i class="mdi mdi-magnify"></i>
      <input type="text" class="flex" />
  </div>
  <div id="Jungle" class="button toggle border selected">J</div>
  <div id="Support" class="button toggle border">S</div>
</div>
<div id="content" class="flex">
  <div class="card">
    <div class="header layout horizontal">
      <div class="heroImg"></div>
      <div class="heroInfo">
        <div>Teemo</div>
        <div>The Swift Scout</div>
      </div>
    </div>
    <div class="item layout horizontal">
        <div class="pic"></div>
        <div class="desc">
          <div class="name"></div>
          <div class="desc"></div>
        </div>
      </div>
  </div>
  <div class="card border padded">
    <h1>Welcome to #Just_Lol_stuff</h1>
    <p>Here we use some super smart data processing to make a build tailored from 1000+ games of high level ranked play.  Just enter a champion name above, select if you will be playing support or jungle, then we will generate a build just for you!</p>
  </div>
</div>