<div id="actionBar" class="layout horizontal center-center">
  <div class="blurBg">
    <div class="image"></div>
  </div>
  <div id="search" class="flex layout horizontal center border">
    <i class="mdi mdi-magnify"></i>
      <input type="text" class="flex" />
  </div>
  <div id="Jungle" class="button toggle border selected">J</div>
  <div id="Support" class="button toggle border">S</div>
</div>
<div id="content" class="flex">
  <div class="">
    <div class="header layout horizontal">
      <div class="heroImg"></div>
      <div class="heroInfo">
        <div>{{champion.name}}</div>
        <div>{{champion.description}}</div>
      </div>
    </div>
    <div id="buildWrap" class="layout horizontal wrap around-justified">
      <div class="item card border layout vertical" ng-repeat="item in champion.items as item">
        <div style="{{item.img}}" class="pic">
          <div></div>
        </div>
        <div class="desc">
          <h1 class="name">{{item.name}}</h1>
          <div class="stats">{{item.stats}}</div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card border padded">
    <h1>Welcome to #Just_Lol_stuff</h1>
    <p>Here we use some super smart data processing to make a build tailored from 1000+ games of high level ranked play.  Just enter a champion name above, select if you will be playing support or jungle, then we will generate a build just for you!</p>
  </div>
</div>